<h3>Golf Courses</h3>
<%= link_to "New Golf Course", new_golf_course_path %>
<br />
<table>
  <tr>
    <th>Name</th>
    <th>Holes</th>
    <th>Par</th>
    <th></th>
  </tr>
  
  <% @golf_courses.each do |course| %>
    <tr>
      <td><%= course.name%> </td>
      <td><%= course.num_holes %></td>
      <td><%= course.par %></td>
      <td><%= link_to "edit", edit_golf_course_path(course) %> <%= link_to "delete", course, :confirm => "are you sure you want to delete?", :method => :delete %></td>
    </tr>
  <% end %>
  
</table>

